*{
    margin: 0px;
    padding: 0px;
} 
#navbar{
   display:flex;
   align-items: center;
}
.logo{
    padding: 10px 30px;
}
.logo img{
    height: 100px;
}
#navbar ul{
    display:flex;
    list-style: none;
}
#navbar ul li a {
    text-decoration: none;
    padding: 10px 20px;
    color: rgb(231, 232, 238);
}
#navbar ul li a:hover{
    color:rgb(12, 12, 12);
    background-color: rgb(34, 44, 190);
}
#home{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;

}
#home::before{
    content:"";
    position:absolute;
    background-image: url(image/background.jpg.jpg);
    width: 100%;
    height: 650px;
    z-index: -1;
    opacity: 0.9;
}
.tagline{
    font-size: 50px;
    color:white ;
}
#home p{
    font-size: 18px;
    color: yellow;
}
.cont{
    width: 80%;
    height: 550px;
    border: 5px solid rgba(42, 12, 175, 0.822);
    margin: 300px 150px 40px 140px;
    text-align: center;
    
}
.box{
    display: flex;
    justify-content: center;
}
.contline{
    margin: 15px;
}
.photo1{
    width: 330px;
    height: 400px;
    border: black 2px solid;
    margin: 20px;
}
.photo1 img{
    width: 330px;
}
.photo2{
    width: 330px;
    height: 400px;
    border: solid black 2px;
    margin: 20px;
}
.photo2 img{
    width: 330px;
}
.photo3{
    width: 330px;
    height: 400px;
    border: black solid 2px;
    margin: 20px;
}
.photo3 img{
    width: 330px;
}
.openbox{
    width: 100%;
    height: 550px;
    background-color: rgba(34, 44, 190, 0.678);
    
}
.openboxheading{
    text-align: center;
    font-size: 25px;
    padding: 20px 0px 0px 0px;
}
.pra{
    font-size: 20px;
    margin: auto;

}
.openbox2{
    display: flex;
}
.openbox2 img{
    height: 400px;
    margin: 40px;
}